@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&family=Ubuntu&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
header{
  background-color: navy;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: .5rem;
}
nav h1{
  color: #599205;
}
nav ul{
  display: flex;
  justify-content: space-between;
  width: 45%;
}
nav ul li{
  list-style-type: none;
  position: relative;
}

nav ul li.dropdown:hover > ul{
  display: block;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
}
nav ul li ul{
  background-color: navy;
  display: none;
  flex-direction: column;
  position: absolute;
  width: 210%;
  top: 100%;
}
nav ul li ul a{
  display: inline-block;
  padding: .6rem 1.2rem;
  width: 100%;
}
nav ul li ul a:hover{
  background-color: #599205;
}

/** Second drop */

nav ul li ul li ul{
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  display: none;
}
nav ul li ul li.dropdown-two:hover > ul{
  display: block;
}
.logo{
  width: 50px;
}
.logo img{
  width: 100%;
  border-radius: 25px;
}

main{
  background-color: #e2e2e2;
}
/** GRID LAYOUT */
.grid-container{
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: repeat(4, 1fr);
  grid-template-rows: 15% 25% 15% 25%;
  gap: 1rem;
 /*  width: 80%; */
/*   margin: 0 auto; */
  padding: 1rem;
  grid-template-areas: 
  "post feed-two suggestions"
  "feed-one feed-two suggestions"
  "feed-one feed-two suggestions"
  "feed-one feed-three suggestions";
  height: 100vh;
}
.grid-container .post{
  grid-area: post;
  background-color: #599205;
}
.grid-container .feed-one{
  grid-area: feed-one;
  background-color: bisque;
}
.grid-container .feed-two{
  grid-area: feed-two;
  background-color: rebeccapurple;
}
.grid-container .feed-three{
  grid-area: feed-three;
  background-color: teal;
}
.grid-container .suggestions{
  grid-area: suggestions;
  background-color: gold;
}